<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <%- head %>
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" href="/global.css" />
    <link rel="stylesheet" href="/build/bundle.css" />
  </head>

  <body>
    <div id="app">
      <%- html %>
    </div>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-56408806-11"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'UA-56408806-11');
    </script>
    <script>
      window.__DATA__ = <%- data %>
    </script>
    <script defer src="/build/bundle.js"></script>
  </body>
</html>
